<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
    android:name="android.permission.BLUETOOTH"
    android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_ADMIN"
    android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_SCAN"
    tools:targetApi="s" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_CONNECT"
    tools:targetApi="s" />

  <uses-feature
    android:name="android.hardware.bluetooth_le"
    android:required="false" />

    <application>
        <activity android:name="com.resgrid.plugins.resgrid.activites.CallActivity" />

        <activity android:name="com.resgrid.plugins.resgrid.activites.AudioCallActivity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:screenOrientation="unspecified">
        </activity>
    </application>
</manifest>
